<!-- Footer -->
<footer class="site-footer py-10 text-gray-400">
    <div class="container-1200">
        <div class="mb-8">
            <p class="space-y-2 text-sm  text-white">
                地址：10617 臺北市大安區羅斯福路四段一號 國立臺灣大學新聞研究所</br>
                電話：(02) 3366-3383</br>
                Email：jour@ntu.edu.tw</br>
            </p>
            <p class="space-y-2 text-sm text-white">
                &copy; 2025 國立臺灣大學新聞研究所 版權所有
            </p>
        </div>

    </div>
</footer>
