<!-- Navigation -->
<nav class="site-nav">
    <div class="container-1200">
        <ul class="flex flex-wrap items-center gap-2 py-3">
            <li class="nav-item has-dropdown">
                <a href="{{path_prefix}}about/intro.html" class="px-5 py-2.5 text-base text-white  rounded font-medium transition">關於我們</a>
                <div class="dropdown-menu">
                    <a href="{{path_prefix}}about/intro.html">本所簡介</a>
                    <a href="{{path_prefix}}about/transportation.html">交通資訊</a>
                    <a href="{{path_prefix}}about/donate.html">捐款支持</a>
                </div>
            </li>
            <li class="nav-item has-dropdown">
                <a href="{{path_prefix}}faculty/faculty.html" class="px-5 py-2.5 text-base text-white rounded font-medium transition">師資陣容</a>
                <div class="dropdown-menu">
                    <a href="{{path_prefix}}faculty/fulltime-professor.html">專任教師</a>
                    <a href="{{path_prefix}}faculty/practical-professor.html">實務教師</a>
                    <a href="{{path_prefix}}faculty/parttime-professor.html">兼任教師</a>
                    <a href="{{path_prefix}}faculty/honorary-professor.html">名譽教授</a>
                    <a href="{{path_prefix}}faculty/joint-professor.html">合聘教師</a>
                    <a href="{{path_prefix}}staff.html">行政人員</a>
                </div>
            </li>
            <li class="nav-item has-dropdown">
                <a href="{{path_prefix}}admissions/admissions.html" class="px-5 py-2.5 text-base text-white  rounded font-medium transition">入學資訊</a>
                <div class="dropdown-menu">
                    <a href="{{path_prefix}}admissions/qualifying-exam.html">推甄入學</a>
                    <a href="{{path_prefix}}admissions/entrance-exam.html">入學考試</a>
                    <a href="{{path_prefix}}admissions/past-exam.html">歷屆考古題</a>
                    <a href="{{path_prefix}}admissions/international-students.html">國際生</a>
                    <a href="{{path_prefix}}admissions/ochkmc-students.html">港澳僑生</a>
                </div>
            </li>
            <li class="nav-item"><a href="{{path_prefix}}students/student-learning.html" class="px-5 py-2.5 text-base text-white  rounded font-medium transition">學生學習</a></li>
            <li class="nav-item"><a href="{{path_prefix}}publications/e-report.html" class="px-5 py-2.5 text-base text-white  rounded font-medium transition">出版發表</a></li>
            <li class="nav-item"><a href="{{path_prefix}}news.html" class="px-5 py-2.5 text-base text-white  rounded font-medium transition">最新消息</a></li>
            <li class="nav-item"><a href="{{path_prefix}}resources.html" class="px-5 py-2.5 text-base text-white  rounded font-medium transition">相關資源</a></li>
        </ul>
    </div>
</nav>
